numpy
matplotlib==3.*
seaborn==0.10.1
pandas
cycler==0.10.0            # via matplotlib
kiwisolver==1.2.0         # via matplotlib
pyparsing==2.4.7          # via matplotlib
python-dateutil==2.8.1    # via matplotlib, pandas
pytz==2020.1              # via pandas
scipy==1.4.1              # via seaborn
six==1.15.0               # via cycler, python-dateutil
beautifulsoup4==4.7.1
